article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  _font-family: 'Courier New', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 1px solid;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 1px solid;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 1px solid;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  width: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 0px;
  overflow: visible;
}
header a {
  float: left;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  line-height: 40px;
  padding: 40px 5px;
  height: 40px;
  width: 110px;
  margin: 0;
  background: rgba(245,255,240,0.3);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -o-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  color: #222039;
}
a {
  color: inherit;
  border: none;
  text-decoration: none;
  color: #222;
  height: 50px;
}
a:hover {
  color: inherit;
  border: none;
  text-decoration: none;
}
a:visited {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
a:hover {
  color: #111;
}
.curtains {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.curtain {
  width: 100%;
  padding: 0px;
  margin: 0px;
  zoom: 1;
  -webkit-box-shadow: 0 0 15px #000;
  -moz-box-shadow: 0 0 15px #000;
  -o-box-shadow: 0 0 15px #000;
  -ms-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;
}
.curtain:before,
.curtain:after {
  content: "";
  display: table;
}
.curtain:after {
  clear: both;
}
.curtain h1 {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 1.5em;
  color: rgba(255,255,255,0.1);
  text-shadow: 0 0 1px rgba(100,100,100,0.4);
}
.jumpDown {
  position: fixed;
  left: 50%;
  bottom: 33%;
  padding: 0px;
  margin: 0px 0px 0px -150px;
  height: 150px;
  width: 300px;
}
.jumpDown img {
  border: none;
  width: 150px;
  height: 90px;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  margin: 0 auto;
}
.jumpDown h2 {
  text-align: center;
  color: #333;
  text-rendering: optimizelegibility;
  font-weight: bold;
  font-size: 27px;
  margin: 8.4375px 0;
  line-height: 1.2em;
  font-size: 33px;
  width: 300px;
  color: #f1f1f1;
  position: absolute;
  left: 0%;
  top: 0px;
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
}
#curtain_1 {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
#curtain_1 h2 {
  font-size: 90px;
  text-align: center;
  margin: 100px 0px 50px 0px;
  color: #222039;
}
#curtain_1 .about {
  margin: 50px auto;
  padding: 30px;
  max-width: 600px;
  font-size: 20px;
  color: #222;
  border-top: 2px solid #111;
}
#curtain_1 #front {
  display: block;
  zoom: 1;
  padding: 10px 0px 0px 0px;
}
#curtain_1 #front:before,
#curtain_1 #front:after {
  content: "";
  display: table;
}
#curtain_1 #front:after {
  clear: both;
}
#curtain_1 .full {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px 50px 0px 50px;
  zoom: 1;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #5d230f), color-stop(0.09, #6d2912), color-stop(0.2, #5d230f), color-stop(0.32, #6d2912), color-stop(0.45, #5d230f), color-stop(0.5, #6d2912), color-stop(0.61, #5d230f), color-stop(0.69, #6d2912), color-stop(0.82, #5d230f), color-stop(0.91, #6d2912), color-stop(1, #5d230f));
  background: -webkit-linear-gradient(left, #5d230f 0%, #6d2912 9%, #5d230f 20%, #6d2912 32%, #5d230f 45%, #6d2912 50%, #5d230f 61%, #6d2912 69%, #5d230f 82%, #6d2912 91%, #5d230f 100%);
  background: -moz-linear-gradient(left, #5d230f 0%, #6d2912 9%, #5d230f 20%, #6d2912 32%, #5d230f 45%, #6d2912 50%, #5d230f 61%, #6d2912 69%, #5d230f 82%, #6d2912 91%, #5d230f 100%);
  background: -o-linear-gradient(left, #5d230f 0%, #6d2912 9%, #5d230f 20%, #6d2912 32%, #5d230f 45%, #6d2912 50%, #5d230f 61%, #6d2912 69%, #5d230f 82%, #6d2912 91%, #5d230f 100%);
  background: -ms-linear-gradient(left, #5d230f 0%, #6d2912 9%, #5d230f 20%, #6d2912 32%, #5d230f 45%, #6d2912 50%, #5d230f 61%, #6d2912 69%, #5d230f 82%, #6d2912 91%, #5d230f 100%);
  background: linear-gradient(left, #5d230f 0%, #6d2912 9%, #5d230f 20%, #6d2912 32%, #5d230f 45%, #6d2912 50%, #5d230f 61%, #6d2912 69%, #5d230f 82%, #6d2912 91%, #5d230f 100%);
}
#curtain_1 .full:before,
#curtain_1 .full:after {
  content: "";
  display: table;
}
#curtain_1 .full:after {
  clear: both;
}
#curtain_2 {
  background: url("/img/theatre-lights.jpg") no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  -ms-background-size: auto 100%;
  background-size: auto 100%;
  background-position: center top;
  height: 1200px;
}
#curtain_3 {
  background: #d9d9d9;
  height: 840px;
}
#curtain_3 img {
  display: block;
  height: 440px;
  width: 500px;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  -o-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  -ms-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  border: none;
  position: absolute;
  right: 200px;
  top: 200px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.photo {
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  -o-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  -ms-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
#curtain_4 {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #1d1b30), color-stop(0.09, #222039), color-stop(0.2, #1d1b30), color-stop(0.32, #222039), color-stop(0.45, #1d1b30), color-stop(0.5, #222039), color-stop(0.61, #1d1b30), color-stop(0.69, #222039), color-stop(0.82, #1d1b30), color-stop(0.91, #222039), color-stop(1, #1d1b30));
  background: -webkit-linear-gradient(left, #1d1b30 0%, #222039 9%, #1d1b30 20%, #222039 32%, #1d1b30 45%, #222039 50%, #1d1b30 61%, #222039 69%, #1d1b30 82%, #222039 91%, #1d1b30 100%);
  background: -moz-linear-gradient(left, #1d1b30 0%, #222039 9%, #1d1b30 20%, #222039 32%, #1d1b30 45%, #222039 50%, #1d1b30 61%, #222039 69%, #1d1b30 82%, #222039 91%, #1d1b30 100%);
  background: -o-linear-gradient(left, #1d1b30 0%, #222039 9%, #1d1b30 20%, #222039 32%, #1d1b30 45%, #222039 50%, #1d1b30 61%, #222039 69%, #1d1b30 82%, #222039 91%, #1d1b30 100%);
  background: -ms-linear-gradient(left, #1d1b30 0%, #222039 9%, #1d1b30 20%, #222039 32%, #1d1b30 45%, #222039 50%, #1d1b30 61%, #222039 69%, #1d1b30 82%, #222039 91%, #1d1b30 100%);
  background: linear-gradient(left, #1d1b30 0%, #222039 9%, #1d1b30 20%, #222039 32%, #1d1b30 45%, #222039 50%, #1d1b30 61%, #222039 69%, #1d1b30 82%, #222039 91%, #1d1b30 100%);
  height: 1000px;
}
#curtain_5 {
  background: #d9d9d9;
}
#curtain_5 a {
  float: left;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  line-height: 40px;
  padding: 40px 5px;
  height: 40px;
  width: 110px;
  margin: 0;
  background: rgba(245,255,240,0.3);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -o-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  color: #222039;
  position: relative;
  left: 200px;
  top: 200px;
}
footer {
  padding: 10px 0px;
  width: 100%;
  background-color: #919191;
}
footer h2 {
  font-size: 1.2em;
  float: left;
  margin: 0px 20px;
  padding: 0px;
}
footer ul {
  float: left;
  zoom: 1;
  margin: 0;
  padding: 0;
}
footer ul:before,
footer ul:after {
  content: "";
  display: table;
}
footer ul:after {
  clear: both;
}
footer ul li {
  float: left;
  margin-right: 10px;
  list-style-type: none;
}
footer ul li:last-child {
  margin-right: 0;
}
footer ul li:after {
  content: '-', 10px, #cdcdcd;
  margin-left: 10px;
  color: #cdcdcd;
}
footer ul li:last-child:after {
  content: "";
}
