header.navBar
  .left
    .author
      h2 Created by Erica von Buelow
  .center
    h1.logo Curtains!
  .right
    a.github(href="https://github.com/ericavonb/curtains") Fork on Github!
    a(href="#contact") Contact

.content
  .curtains
    .curtain#curtain_1
      h1 Curtain 1
    .curtain#curtain_2
      h1 Curtain 2
    .curtain#curtain_3
      h1 Curtain 3
    .curtain#curtain_4
      h1 Curtain 4
    .curtain#curtain_5
      h1 Curtain 5
        
footer
  .left
    .author#contact
      h2 Created by Erica von Buelow
      ul
        li.github
          a(href="https://github.com/ericavonb") Github
        li
          a.facebook(href="https://facebook.com/ericavonb") Facebook
        li
          a.twitter(href="htps://twitter.com/ericavonb") Twitter
        li
          a.email(href="mailto:evonbuelow@gmail.com") Email
  .center
    h1.logo Curtains!
  .right
    a.github(href="https://github.com/ericavonb/curtains") Fork on Github!

:coffeescript
  console.log "...Page loaded"