header.navBar
  .left
    .author
      h2 Created by Erica von Buelow
  .center
    h1.logo Curtains!
  .right
    a.github(href="https://github.com/ericavonb/curtains") Fork on Github!
    a(href="#contact") Contact

.content
  .pages
    .page#page_1
      h1 Page 1
    .page#page_2
      h1 Page 2
    .page#page_3
      h1 Page 3
    .page#page_4
      h1 Page 4
    .page#page_5
      h1 Page 5
        
footer
  .left
    .author#contact
      h2 Created by Erica von Buelow
      ul
        li.github
          a(href="https://github.com/ericavonb") Github
        li
          a.facebook(href="https://facebook.com/ericavonb") Facebook
        li
          a.twitter(href="htps://twitter.com/ericavonb") Twitter
        li
          a.email(href="mailto:evonbuelow@gmail.com") Email
  .center
    h1.logo Curtains!
  .right
    a.github(href="https://github.com/ericavonb/curtains") Fork on Github!

:coffeescript
  console.log "...Page loaded"